bucket         = "kitschcatch-terraform-state-replace-me"
key            = "environments/prod-kc/terraform.tfstate"
region         = "ap-northeast-2"
dynamodb_table = "kitschcatch-terraform-locks"
encrypt        = true
